@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.woff2') format('woff2'),
         url('../fonts/HelveticaBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'DINOT-Light';
    src: url('../fonts/DINOT-Light.woff2') format('woff2'),
         url('../fonts/DINOT-Light.woff') format('woff');
    font-display: swap;
}