$grey-focus: #5B6460; //  серый цвет кнопки, цвет h2, кнопка read more, social
// фон футера
$grey-border: #979797;//  обводка кнопки
$grey-second-focus: #E9ECE0; //  заливка акции, ФОН the forest, кнопка more about us
$color-text: #333333//  параграф The forest